# Project exclude paths
/export_cargo_interface/target/
/export_cargo_service/target/
/export_company_interface/target/
/export_company_service/target/
/export_dao/target/
/export_domain/target/
/export_mq_consumer/target/
/export_stat_interface/target/
/export_stat_service/target/
/export_system_service/target/
/export_web_manager/target/
/export_web_portal/target/
/export_cargo_service/src/main/resources/spring/
/.idea/
*.iml
/export_company_service/src/main/resources/spring/
/export_mq_consumer/src/main/resources/
/export_dao/src/main/resources/properties/
/export_stat_service/src/main/resources/spring/
#/export_web_manager/src/main/resources/
