<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--该文件的作用： 让spring整合shiro-->

    <!--1.创建shiroFilter,shiroFilter处理请求依赖SecurityManager对象-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--配置过滤器规则（配置过滤器）-->
        <property name="filterChainDefinitions">
            <value>
            <!--    /* 与/** 区别：
                  /* :只能匹配一级目录
                  /** : 可以匹配多级目录

            注意：
                1. css. jsw文件不应该需要登陆权限才能访问，应该直接放行
                2. login.do 登录方法也应该要无条件放行，因为这是登录方法
            -->
                 /css/**=anon
                 /img/**=anon
                 /make/**=anon
                 /plugins/**=anon
                 /login.do=anon
                <!--/company/list.do=perms["企业管理"]
                /system/user/list.do=perms["用户管理"]-->
                /**=authc
            </value>
        </property>

        <!--shiro访问一个页面的时候如果访问该资源需要登陆的权限才能访问，
        如果你没有登陆的情况下默认会跳转会/login.jsp-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--配置一个权限不足的返回页面，配置权限不足页面只有配置文件的方式可以使用-->
       <!-- <property name="unauthorizedUrl" value="/unauthorized.jsp"/>-->
    </bean>


    <!--2.创建SecurityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="realm"/>
    </bean>


    <!--3. 创建Realm对象-->
    <bean id="realm" class="cn.itcast.web.shiro.AuthRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>


    <!--5. 创建自定义密码匹配器 -->
    <bean id="credentialsMatcher" class="cn.itcast.web.shiro.CustomCredentialsMatcher"/>


    <!--开启shiro的注解支持-->

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


</beans>