<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.你要做什么： 定义任务详情-->
    <!--创建任务类的对象-->
    <bean id="emailTask" class="cn.itcast.web.task.ContractEmailTask"/>

    <!--定义任务详情-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--任务类的对象-->
        <property name="targetObject" ref="emailTask"/>
        <!--任务类的执行的方法-->
        <property name="targetMethod" value="sendEmail"/>
    </bean>


    <!--2.什么时候做， 定义一个触发器= 任务详情+ 时间表达式  -->
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--任务详情-->
        <property name="jobDetail" ref="jobDetail"/>
        <!--时间表达式 , 每两秒执行一次  秒 分 时 日 月 周 年
            注意的事项：
                1. 日与周是冲突的，只能指定一个。
                2. 年是可以省略不写的。
         -->
        <property name="cronExpression" value="0 0 8 * * ? *"/>
    </bean>



    <!--3. 把触发器交给任务调度工厂-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--设置触发器-->
        <property name="triggers">
            <array>
                <ref bean="trigger"/>
            </array>
        </property>

    </bean>


</beans>